html
  head
    //- script(src="https://livejs.com/live.js")
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timeago.js@4.0.2/dist/timeago.min.js" integrity="sha256-sTurDi2etLN9CpnUIoCC9y5iynb2qr/uo6QJqzoO7mA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.7.2/dist/min/dropzone.min.js" integrity="sha256-VBW6wgQ/wqxKuy5M87Uhn5bvzBmeXgWVQiwAqPLUjfo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.js" integrity="sha256-QTriwEK1XTUJdKp3So7tMDUvZSTLOPpUv8F/J+UwJ8M=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tabulator-tables@4.7.2/dist/js/tabulator.min.js" integrity="sha256-MXVVvLTA87/De5G7VXpMOAXUHXEaaj9BroBQTz4cgls=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tabulator-tables@4.7.2/dist/css/tabulator.min.css" integrity="sha256-ZpikKUhrU7ZxfqKh8PT2V4w9w1sHDokJa/czD+netyM=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.7.2/dist/dropzone.min.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="/mvp.css">
    //- <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    script(type='text/javascript', src="/client-sockets.js")
    script(type='text/javascript', src="/client-utils.js")
    script(type='text/javascript', src="/tablemaker.js")
    script(type='text/javascript', src="/browse.js")
    canvas#render(width="640", height="480", hidden)
    title= title
  body
    div(class="page_wrapper")
      .row
        .column#left_column
          h2 ~Click stage icons to download .slp~
          if is_logged_in
            a(href="/profile") Logged in (Profile)
            a(href="/logout") Log Out
          else
            a(href="/login") Please log in to upload
          p (launch with slippi desktop app) 
          .tabulator#tabulator
          img(id="crt_img", width="40%")
          p Zain won Genesis 7:
            <div class="timeago" datetime="2020-01-26 23:00:00"></div>
        .column
          //- a(href='/api/history') view games database
          h1 Upload
          p Upload your .slp files here by dragging and dropping them from your file explorer to the green box. They should be in your `My Documents/Slippi` directory. You can also click on the green box and select the files from there. They will remain on this page for everyone to see and download
          a(href="https://youtu.be/F8j87ru7X5I") Video Demo
          <form method="post" action="/upload" class="dropzone" id="dropzone"><div class="fallback"><input name="file" type="file" multiple /></div></form>
          //- h4 Live Uploads (Links will appear here as they are uploaded by others, refresh to insert into table)
          div#history_list
    .footer
      //- a(href='/api/history') view games database
      br
      //- a(href='https://github.com/kleutzinger/spectate-melee-kb') source code (by Kevbot)
          
    //- <form method="post" action="http://kevbot.xyz/feed/me/secrets/upload" class="dropzone" id="dropzone-example"><div class="fallback"><input name="file" type="file" multiple /></div></form>

    //- <form method="post" action="/upload-slp" class="dropzone" id="dropzone-example"><div class="fallback"><input name="file" type="file" multiple /></div></form>

    //- <form action="/" class="dropzone"></form>
