.footer {
  float: bottom;
  position: absolute;
  bottom: 2em;
  margin: 5px 5px;
}

li p {
  display: inline;
}

img.stage_thumb {
  width: 150px;
}

.infoImage {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.inline_img {
  display: inline;
  margin: 0 0.125em;
  padding: 0;
  vertical-align: baseline;
}
.timeago {
  display: inline-block;
}

button.red {
  /* width: 10%; */
  color: white;
  background-color: #800;
  border-color: #800;
}
div.ts-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px;
}

.page_wrapper {
  margin: 15px;
  /* background-color: red; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 0 10px;
}

.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  background-color: green;
  height: 100px;
}
